@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
  background-color: #3f638c;
  color: #0e161f;
  font-family: "Nunito", sans-serif;
}

.postPrincipal{
  display: flex;
  justify-content: center;
}
.post{
  box-shadow: 1px 5px 8px 2px rgba(0, 0, 0, 0.236);
  background-color: #ffffff;
}
.containerHeader {
  background-color: #ffffff;
}
.boxShadow {
  box-shadow: 1px 5px 8px 2px rgba(0, 0, 0, 0.236);
}

.texto {
  display: block;
  
}